.a_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.a_box .a_box__col-1 {
  width: 1050px;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.a_box .a_box__col-2 {
  width: 1050px;
  height: 400px;
}

.a_box .a_box__col-1 .col-1__left {
  width: 350px;
}
