@keyframes cursorHover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.box .box__content {
  margin-left: 150px;
  margin-top: 50px;
}

.box .box__nav {
  background-color: rgba(0, 77, 154, 0.6);
  padding: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  height: 100vh;
  padding-right: 80px;
}

.box__nav .nav .nav__items {
  margin-bottom: 20px;
  cursor: pointer;
  padding: 5px;
  border-bottom: #fff solid 1px;
}

.box__nav .nav .nav__items:nth-last-child() {
  margin-top: 0px;
}

.box .box__nav .nav .nav__items a {
  text-decoration: none;
  color: #fff;
}

.box .box__nav .nav .nav__items a:hover {
  animation: cursorHover 1.2s forwards;
  color: #fad390;
}
