<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Instagram</title>

    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
  </head>
  <body>
    <!--Header-->
    <div class="header">
      <div class="header__logo">
        <i class="fab fa-instagram"></i>
        <span> | INSTAGRAM</span>
      </div>

      <div class="header__search">
        <input type="text" />
      </div>

      <div class="header__icons">
        <i class="far fa-compass"></i>
        <i class="far fa-heart"></i>
        <i class="far fa-user"></i>
      </div>
    </div>
  </body>
</html>
